@model Recipes.Models.Chef

<div class="container my-5">
    <h1>@Model.Name</h1>
    <img src="@Model.Image" alt="@Model.Name" />
    <p>@Model.Birth.ToShortDateString()</p>
    <p>@Model.Information</p>
    <p>@Model.WorldCuisines.Name</p>
</div>