@model Recipes.Models.Food

<div class="container mt-5 mb-5">
    <h1>@Model.FoodName</h1>

    <img src="@Model.Banner" class="w-100" />

    <p class="font-weight-bolder mt-3 ">@("Puan: " + Model.Score)</p>

    <p>@( Model.Materials)</p>

    <p>@Model.Recipe</p>
</div>